* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}

img {
  display: block;
  width: 100%;
}
.navbar {
  background-color: #F55E05;
  height: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.image {
  width: 80px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  padding: 8px 0 0 8px;
  margin-bottom: 16px;
}

.navbar button {
  background-color: #F55E05;
  border: 2px #B0E6E2 solid;
  color: #B0E6E2;
  display: inline-block;

  margin: 14px 0 16px 700px;
  padding: 8px;

}

.navbar p {
  font-family: "Libre Franklin";
  display: inline-block;
  color: white;
  padding: 10px;
}
.sign {
  margin: 0 30px;
}
.body {
  height: 100%;
  width: 100%;
  font-family: "Libre Franklin", "Helvetic Neue", "sans-serif";
}
.container {
  min-height: 560px;
  background-size: cover;
  background-image: url("../images/hero-splash-roommates-fun.jpg");
  margin: 0;
  padding: 0;
}
.container h1 {
  font-family: "Helvetica Neue";
  color: white;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  padding: 180px 0 0 0;

}
.container h6 {
  font-family: "Helvetica Neue";
  color: white;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 32px;
}
.container h3 {
  background-color: white;
  color: white;
  width: 300px;
  padding: 0;
  margin: 0 -4 0 440px;
  display: inline-block;

  line-height: 3;

  border-radius: 2px;

  border: 0px;

}
.container a {
  display: inline-block;
  text-decoration: none;
  font-family: "Helvetica Neue";
  color: white;
  margin: 0;
  background-color: #29BBAF;
  padding: 20px;
  border-radius: 2px;
  font-weight: 300;
  border: 0;
}
.desc-column {
  display: inline-block;
  width: 280px;
  padding: 10px;
  margin-left: 16px;
}
.desc-column p {
  background-color: black;
  font-family: "Helvetica Neue";
  color: white;
  font-weight: 300;
  font-size: 15px;
  padding: 6px;
  width: 260px
}
.box {
  border: #F55E05 2px solid;
  max-width: 120px;
  min-height: 50px;
  text-align: center;
  color: #F55E05;
  margin-left: 45%;
  margin-top: 30px;
  font-family: "Helvetica Neue";
  padding: 12px 10px 10px 10px;
  margin-bottom: 60px;
}
.wrapper {
  background-color: lightgrey;
  padding: 30px;
  position: relative
}
.column  {
  font-family: "Helvetica Neue";
  display: inline-block;
  width: 33.3333%;
  margin-left: 10%;
  border: black 2px solid;
  background-color: white;
  margin-bottom: 0;

}
.column h2 {
  font-size: 20px;
  padding: 8px 8px 0px;
  font-weight: 600;
  margin-left: 6px;
}
.column p {
  padding: 0 4px 0;
  margin-left: 8px;
  font-weight: 500;
}
.column h3 {
  padding: 0 4px;
  margin: 4px 0 20px 8px;
  font-weight: 500;
  font-size: 16px;

}
.next {
  display: inline-block;
  margin: -20px 0 0 180px;
  min-height: 200px;
  vertical-align: top;
}

.next h1 {
  font-family: "Helvetica Neue";
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-left: -16px;
  margin-top: 34px;

}

.next p, li {
  font-family: "Helvetica Neue";
  font-size: 16px;
  padding: 4px;

}

.next p {
  margin: -8px;
  margin-bottom: 6px;
}

.column-container {
  background-color: black;
  display: inline-block;
  color: white;
  width: 100%;
  font-family: "Helvetica Neue";
  font-size: 12px;
  padding: 20px;
  font-weight: lighter;
}

.column-container h2 {
  color: lightgrey;
  font-size: 15px;
  padding: 8px;
  font-weight: 400;
}
.company {
  display: inline-block;
  width: 31.3333%;
}
.media {
  display: inline-block;
  width: 31.3333%
}
.directory {
  display: inline-block;
  width: 31.333%;
  margin-bottom: 20px;
}
.logos {
  background-color: black;
}

.logos img {
max-width: 50%;
margin: 0;
padding: 0;
}

.facebook {
  display: inline-block;
  margin-left: 50%;
}

.insta {
  display: inline-block;

}

.twit {
  display: inline-block;

}

.goog {
  display: inline-block;

}


.attached_heart {
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: relative;
  top: 12px;
  left: 350px;
  padding-top: 8px;
}
.helper {
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: 4px #B0E6E2 solid;
  background-color: white;
  height: 160px;
  width: 300px;
  display: inline-block;
}
.question {
  background-color: #42f4e2;
  height: 30px;
  padding-top: 4px;
  padding-left: 6px;
}
.helper img {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  border: 1px black solid;
  border-radius: 50%;
  margin-left: 6px;
}

.helper i {
  position: fixed;
  color: white;
  text-align: center;
  padding-top: 8px;
  height: 30px;
  width: 30px;
  left: 280px;
  bottom: 170px;
  background-color: #B0E6E2;
}

.helper_column, .pretty-lady,
p, i {
  display: inline-block;

}

.text-color {
  text-align: center;
  vertical-align: middle;
}


.orange-text {
  color: orange;
}
